## Preprocessing

In [54]:
# Import our dependencies

!pip install keras-tuner -q
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import keras_tuner as kt


#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [55]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN","NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [56]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [57]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [58]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [59]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [60]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_over_one = classification_counts.loc[classification_counts > 1]
classification_counts_over_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [61]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [62]:
# Convert categorical data to numeric with `pd.get_dummies`
application_convert = pd.get_dummies(application_df)

In [84]:
# Split our preprocessed data into our features and target arrays
X = application_convert.drop(["IS_SUCCESSFUL"], axis=1)
y = application_convert["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [85]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [87]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="relu"))


# Check the structure of the model
nn_model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 10)                440

 dense_16 (Dense)            (None, 5)                 55

 dense_17 (Dense)            (None, 1)                 6

=================================================================
Total params: 501
Trainable params: 501
Non-trainable params: 0
_________________________________________________________________

In [88]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [89]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1620 - accuracy: 0.6763
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8544 - accuracy: 0.6938
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7071 - accuracy: 0.7106
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6689 - accuracy: 0.7126
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6606 - accuracy: 0.7119
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6418 - accuracy: 0.7189
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6054 - accuracy: 0.7210
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5946 - accuracy: 0.7253
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5944 - accuracy: 0.7239
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5910 - accuracy: 0.7234
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5896 - accuracy: 0.7255
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5914 - accuracy: 0.7245
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5908 - accuracy: 0.7262
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5899 - accuracy: 0.7252
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5905 - accuracy: 0.7255
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5901 - accuracy: 0.7254
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5843 - accuracy: 0.7267
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5837 - accuracy: 0.7265
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5830 - accuracy: 0.7276
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5845 - accuracy: 0.7251
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5807 - accuracy: 0.7291
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5805 - accuracy: 0.7280
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5807 - accuracy: 0.7298
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5803 - accuracy: 0.7289
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5791 - accuracy: 0.7288
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5803 - accuracy: 0.7289
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5796 - accuracy: 0.7288
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5787 - accuracy: 0.7304
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5780 - accuracy: 0.7304
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5779 - accuracy: 0.7306
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5792 - accuracy: 0.7298
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5791 - accuracy: 0.7293
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5724 - accuracy: 0.7301
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5679 - accuracy: 0.7305
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5677 - accuracy: 0.7310
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5687 - accuracy: 0.7315
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5697 - accuracy: 0.7290
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5708 - accuracy: 0.7295
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5692 - accuracy: 0.7310
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5685 - accuracy: 0.7320
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5695 - accuracy: 0.7296
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5692 - accuracy: 0.7312
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5678 - accuracy: 0.7301
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5677 - accuracy: 0.7311
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5668 - accuracy: 0.7310
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5664 - accuracy: 0.7313
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5659 - accuracy: 0.7311
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5693 - accuracy: 0.7302
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5667 - accuracy: 0.7311
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5649 - accuracy: 0.7309

In [90]:
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5743 - accuracy: 0.7249 - 441ms/epoch - 2ms/step
Loss: 0.5742509961128235, Accuracy: 0.7248979806900024

In [95]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Create a method that creates a new Sequential model with hyperparameter options using the above changes to the data.
def create_model(hp):
  number_input_features = len(X_train_scaled[0])

  nn_model = tf.keras.models.Sequential()

  #allow kerastuner to decide which activation function to use in hidden layers
  activation = hp.Choice('activation', ['relu', 'tanh', 'sigmoid'])

  #allow kerastuner to decide number of neurons in first layer
  nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
                                                  min_value=1,
                                                  max_value=10, 
                                                  step=2),
                                     activation=activation, 
                                     input_dim= number_input_features))
 
  #allow Kerastuner to decide number of hidden layers and neurons in hidden layers
  for i in range(hp.Int('number_layers', 1, 6)):
    nn_model.add(tf.keras.layers.Dense(units = hp.Int('units_' + str(i),
                                                      min_value=1,
                                                      max_value=10, 
                                                      step=2),
                                       activation= activation))
    
    nn_model.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))
    
    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

    return nn_model

In [96]:
#Use kerastunder library
tuner = kt.Hyperband(
    create_model,
    objective = "val_accuracy",
    max_epochs = 20,
    hyperband_iterations = 2)

In [97]:
#run tuner search for best hyperparametes
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 01m 23s]
val_accuracy: 0.7287463545799255

Best val_accuracy So Far: 0.7332944869995117
Total elapsed time: 00h 24m 21s

In [98]:
# Find most accurate model
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 9,
 'number_layers': 5,
 'units_0': 5,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 2,
 'tuner/round': 2,
 'tuner/trial_id': '0013'}

In [99]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5546 - accuracy: 0.7333 - 505ms/epoch - 2ms/step
Loss: 0.554602861404419, Accuracy: 0.7332944869995117

In [103]:
# Export our model to HDF5 file


nn_model.save('AlphabetSoupCharityOptimization.h5')